.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.modal{
  position: relative;
  z-index: 3;
  width: 300px;
  height: 300px;
  border: 2px solid rgb(47, 102, 255);
  padding: 29px;
  margin: 20px auto;
  margin-top: -265px;
  transition: all ease 0.5s;

}


.modal{
  position: relative;
  z-index: 3;
  width: 300px;
  height: 200px;
  border: 2px solid  rgb(47, 102, 255);
  padding: 29px;
  margin: 20px auto;
  margin-top: -265px;
  transition: all ease 0.5s;

}

.modall{
  z-index: 3;
  width: 300px;
  height: 200px;
  border: 2px solid rgb(47, 102, 255);
  padding: 29px;
  margin: 25px auto;
transition: all ease 0.5s;
}
.box{
  width: 100px;
  display: flex;
margin-left: 185px;
.btn{
  margin-left: 10px;
}
}

.img{
  width: 200px;
  height: 120px;
  object-fit: cover;
}
.none{
  display: none;
}
.btn{
  border: none;
  background: rgb(47, 102, 255);
  border-radius: 5px;
  scroll-behavior: smooth;

}